<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include externalScripts %>
  </head>
  <body>
    <div id='container'>
      <div id="item" class="draggable item">
        <p class="info"> You should be able to drag this around </p>
      </div>
    </div>
    <script type="text/javascript">
      // captures EJS variables
      window.phone_id = <%= phone_id %>;
      window.session_id = <%= session_id %>
    </script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/fancy.js"></script>
  </body>
</html>
