<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include externalScripts %>
  </head>
  <body>
    <div id='container'>
      <div id="item" class="draggable item">
        <!-- <p class="info"> You should be able to drag this around </p> -->
        <img id="picture" src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfp1/v/t35.0-12/13575543_1395725470444330_2035775477_o.jpg?oh=ab6a48e22fa15e36ddfb1802a1d4b215&oe=5784CAF9&__gda__=1468252887_4a2d57773b46644c2d1b0fcaf41e471a"></img>
      </div>
    </div>
    <script type="text/javascript">
      // captures EJS variables
      window.phone_id = `<%- phone_id %>`;
      window.session_id = `<%- session_id %>`;
      window.anchor = <%- JSON.stringify(anchor) %>
    </script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/fancy.js"></script>
  </body>
</html>
