html {
  top: 0;
  left: 0;
  position: absolute;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

.item {
  position: absolute;
  width: 450px;
  height: 450px;
  background: #17822c;
}

.info {
  color: #fff;
  text-align: center;
  padding: 25px;
}
